
@media screen and (max-width: 1450px) {
    .small-button {
    margin-left: 30vh;
    }
}
@media screen and (max-width: 1199px) {
  .small-button {
    margin-left: 25vh;
  }
}
@media screen and (max-width:992px){
  .small-button {
  margin-left: 15vh;
  }
}

@media screen and (max-width:690px){
  .small-button {
  margin-left: 8vh;  }
}

  @media screen and (max-width:520px){
    .small-button {
    margin-left: 1vh;
  }
    }


@media screen and (max-width:393px){
  .small-button {
    padding: 9px;
    margin-left: -3vh;
    }
    prova {
    margin-bottom: 30px;
}
}
