
@media screen and (max-width: 1450px) {
    .small-button {
    margin-left: 30vh;
    }
}
@media screen and (max-width: 1199px) {
  .small-button {
    margin-left: 25vh;
  }
}
@media screen and (max-width:992px){
  .small-button {
  margin-left: 15vh;
  }
}

@media screen and (max-width:680px){
  .small-button {
  margin-left: 8vh;
  }
}

  @media screen and (max-width:520px){
    .small-button {
    margin-left: 1vh;
    padding: 9px;

  }



    }


@media screen and (max-width:393px){
  .small-button {
    margin-left: -2vh;
    }

    prova {
    margin-bottom: 30px;
}
p.testo {
  line-height: 5vh;
}

}
@media screen and (max-width:330px){
  .small-button {
    margin-left: -6vh;
    }
}
